In [1]:
import numpy as np
import pandas as pd

In [2]:
cd = pd.read_csv('Toyota.csv',index_col=0,)

In [22]:
cdt = cd.copy(deep=True)

In [4]:
# To get the Index(Row Labels) of the Dataframe
cdt.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435],
           dtype='int64', length=1436)

In [5]:
# To get the Columns Labels of the Dataframe
cdt.columns

Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')

# Attributes of Data

In [7]:
# Total No. of Elements
cdt.size

14360

In [8]:
# Dimensions
cdt.shape # Rows & Columns

(1436, 10)

In [10]:
# No. of Axes/Dimensions
cdt.ndim

2

In [9]:
# Memory Usage of each column in Bytes
cdt.memory_usage()

Index        11488
Price        11488
Age          11488
KM           11488
FuelType     11488
HP           11488
MetColor     11488
Automatic    11488
CC           11488
Doors        11488
Weight       11488
dtype: int64

# Indexing and Selecting Data
Python Slicing ([]) and 
Dot operator (.) 
    are used for Indexing

In [17]:
# HEAD returns the first n rows (5 rows by default)
cdt.head(2)

   Price   Age     KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight
0  13500  23.0  46986   Diesel  90       1.0          0  2000  three    1165
1  13750  23.0  72937   Diesel  90       1.0          0  2000      3    1165

In [16]:
# TAIL returns the last n rows for the object based on position
cdt.tail(2)

      Price   Age  KM FuelType   HP  MetColor  Automatic    CC Doors  Weight
1434   7250  70.0  ??      NaN   86       1.0          0  1300     3    1015
1435   6950  76.0   1   Petrol  110       0.0          0  1600     5    1114

In [18]:
# To access a scalar value Label-Based: at
cdt.at[4,'FuelType']

'Diesel'

In [19]:
# To access a scalar value Integer-Based: iat
cdt.iat[5,6]

0

In [21]:
# To access a group of rows and columns by labels : .loc[]
cdt.loc[:,'FuelType']

0       Diesel
1       Diesel
2       Diesel
3       Diesel
4       Diesel
         ...
1431    Petrol
1432    Petrol
1433    Petrol
1434       NaN
1435    Petrol
Name: FuelType, Length: 1436, dtype: object