# Data Types
Character Data Types :-
    1. Category
        String variable consisting of only a few 
        different values.
        Converting such variable to Categorical will
        save memory.
    2. Object
        Column is assigned as Object data type when it 
        has mixed types(num& strings).
        If a column contains blank cells, pandas will
        default to Object data type.
        For strings, the length is not fixed.

In [1]:
import numpy as np
import pandas as pd
cd = pd.read_csv('Toyota.csv',index_col=0,)
cdt = cd.copy(deep=True) # Real Copy(Not reference)

In [16]:
# Checking Data Type of each Column
cdt.dtypes

Price          int64
Age          float64
KM            object
FuelType      object
HP            object
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

In [17]:
# Count of Unique Data Types : get_dtype_counts
cdt.dtypes.value_counts()

int64      4
object     4
float64    2
dtype: int64

In [40]:
# Selecting Data based on Data Types
# select_dtypes : Returns a subset of columns based on dtype

# cdt.select_dtypes(include=int,exclude=None)
# cdt.select_dtypes(include=int)

cdt.select_dtypes(include=[int,object],exclude=None) # Integer Columns

      Price     KM FuelType   HP  Automatic    CC  Doors  Weight
0     13500  46986   Diesel   90          0  2000  three    1165
1     13750  72937   Diesel   90          0  2000      3    1165
2     13950  41711   Diesel   90          0  2000      3    1165
3     14950  48000   Diesel   90          0  2000      3    1165
4     13750  38500   Diesel   90          0  2000      3    1170
...     ...    ...      ...  ...        ...   ...    ...     ...
1431   7500  20544   Petrol   86          0  1300      3    1025
1432  10845     ??   Petrol   86          0  1300      3    1015
1433   8500  17016   Petrol   86          0  1300      3    1015
1434   7250     ??      NaN   86          0  1300      3    1015
1435   6950      1   Petrol  110          0  1600      5    1114

[1436 rows x 8 columns]

## Concise Summary of Dataframe
info() : dtypes, count of Non-Null values, Memory usage

In [50]:
# Concise Summary of Dataframe
# info : dtypes, count of Non-Null values, Memory usage
cdt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1436 non-null   object
 3   FuelType   1336 non-null   object
 4   HP         1436 non-null   object
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(2), int64(4), object(4)
memory usage: 123.4+ KB

## Checking Format of each Column using INFO()
"KM" has been read as Object instead of Integer
"HP" has been read as Object instead of Integer
"MetColor" has been read as float64 instead of True/False
"Automatic" has been read as int64 instead of True/False

Ideally "Doors" has been read as Object instead of int64

Missing Values Present in few columns (Age, FuelType, MetColor)

In [66]:
# Unique Elements of Columns
# UNIQUE() : find unique elements of a Column
#cdt['FuelType'] = cdt['FuelType'].astype('category')
np.unique(cdt['FuelType'].astype('str'))

array(['CNG', 'Diesel', 'Petrol', 'nan'], dtype=object)

In [49]:
np.unique(cdt['HP'])

array(['107', '110', '116', '192', '69', '71', '72', '73', '86', '90',
       '97', '98', '????'], dtype=object)

In [45]:
np.unique(cdt['MetColor'])

array([ 0.,  1., nan])

In [38]:
np.unique(cdt['Automatic'])

array([0, 1], dtype=int64)

In [39]:
np.unique(cdt['Doors'])

array(['2', '3', '4', '5', 'five', 'four', 'three'], dtype=object)