In [3]:
import numpy as np
import pandas as pd
cd = pd.read_csv('Toyota.csv',index_col=0,na_values=["??","????"])
cdt = cd.copy()

# Frequency Table
crosstab()

In [12]:
pd.crosstab(index = cdt['FuelType'], columns= 'count', dropna = True)

col_0     count
FuelType
CNG          15
Diesel      144
Petrol     1177

# Two-Way Table
Relationship b/w two categorical variables

crosstab()

In [13]:
# Automatic {0-Manual, 1-Automatic}

pd.crosstab(index= cdt['Automatic'],
           columns= cdt['FuelType'],
           dropna= True)

FuelType   CNG  Diesel  Petrol
Automatic
0           15     144    1104
1            0       0      73

# Two-Way Table : Joint Probability (Independent)
crosstab()

In [14]:
pd.crosstab(
            index= cdt['Automatic'],
            columns= cdt['FuelType'],
            normalize= True, # Probability calculation
            dropna= True
           )

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011228  0.107784  0.826347
1          0.000000  0.000000  0.054641

# Two-Way Table : Marginal Probability
crosstab()

In [15]:
pd.crosstab(
            index= cdt['Automatic'],
            columns= cdt['FuelType'],
            normalize= True, # Probability calculation
            margins= True,
            dropna= True
           )

FuelType        CNG    Diesel    Petrol       All
Automatic
0          0.011228  0.107784  0.826347  0.945359
1          0.000000  0.000000  0.054641  0.054641
All        0.011228  0.107784  0.880988  1.000000

# Two-Way Table : Conditional Probability
crosstab()

In [34]:
pd.crosstab(
            index= cdt['Automatic'],
            columns= cdt['FuelType'],
            #normalize= 'index', # Probability calculation (Conditional)
            margins= True,
            dropna= True,
            normalize= 'index', # Probability calculation (Conditional)
           )

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011876  0.114014  0.874109
1          0.000000  0.000000  1.000000
All        0.011228  0.107784  0.880988

In [35]:
pd.crosstab(
            index= cdt['Automatic'],
            columns= cdt['FuelType'],
            #normalize= 'index', # Probability calculation (Conditional)
            margins= True,
            dropna= True,
            normalize= 'columns', # Probability calculation (Conditional)
           )

FuelType   CNG  Diesel    Petrol       All
Automatic
0          1.0     1.0  0.937978  0.945359
1          0.0     0.0  0.062022  0.054641

# Correlation : Between Numerical Variables
corr(self,method= '')

In [37]:
cdtn = cdt.select_dtypes(exclude=[object])
cdtn.shape

(1436, 8)

In [39]:
# Correlation Matrix
crm = cdtn.corr()

In [41]:
crm

,Price,Age,KM,HP,MetColor,Automatic,CC,Weight
Price,1.000000,-0.878407,-0.574720,0.309902,0.112041,0.033081,0.165067,0.581198
Age,-0.878407,1.000000,0.512735,-0.157904,-0.099659,0.032573,-0.120706,-0.464299
KM,-0.574720,0.512735,1.000000,-0.335285,-0.093825,-0.081248,0.299993,-0.026271
HP,0.309902,-0.157904,-0.335285,1.000000,0.064749,0.013755,0.053758,0.086737
MetColor,0.112041,-0.099659,-0.093825,0.064749,1.000000,-0.013973,0.029189,0.057142
Automatic,0.033081,0.032573,-0.081248,0.013755,-0.013973,1.000000,-0.069321,0.057249
CC,0.165067,-0.120706,0.299993,0.053758,0.029189,-0.069321,1.000000,0.651450
Weight,0.581198,-0.464299,-0.026271,0.086737,0.057142,0.057249,0.651450,1.000000